header,
.post:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #0fbe09;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

a {
  color: #2a2a2a;
}

header {
  background-color: #066003;
}

body {
  background-color: rgba(142, 148, 157, 0.952);
}

.card {
  margin-bottom: 20px;
  border: black 5px solid;
}
p {
  padding: 5px;
}

.btn{
  margin: 10px;
} 
